:root {
    --mainFont: 'Open Sans', sans-serif;
    --brandRed: #C55A6C;
    --brandWhite: #F6F6F4;
    --brandBlue: #244A70;
    --brandGray: #7695AD;
}

body {
    font-family: var(--mainFont);
    background-color: var(--brandWhite);
    margin: 0 6rem;
    background-image: url(img/Group\ 1.svg);
    background-size: contain;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    color: var(--brandRed);
    font-weight: 800;
}

span {
    font-weight: 400;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav a {
    text-decoration: none;
    color: var(--brandBlue);
}

nav li {
    margin-left: 4rem;
    list-style: none;
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

#header-info {
    max-width: 440px;
    color: var(--brandBlue);
    font-weight: 700;
}

#header-info p {
    margin-bottom: 2rem;
    line-height: 2rem;
}

#header-info a {
    display: inline-block;
    color: var(--brandWhite);
    text-decoration: none;
    background-color: var(--brandRed);
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-top: 6rem;
}

#about {
    margin: 10rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

figure {
    text-align: center;
}

figcaption {
    margin: 2rem 0;
    color: var(--brandBlue);
}

#pricing {
    margin: 10rem 0;
}

#pricing-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}