:root {
    --mainFont: 'Open Sans', sans-serif;
    --brandRed: #C55A6C;
    --brandWhite: #F6F6F4;
    --brandBlue: #244A70;
    --brandGray: #7695AD;
}

body {
    font-family: var(--mainFont);
    background-color: var(--brandWhite);
    background-image: url(img/Group\ 1.svg);
    background-repeat: repeat-y;
    background-size: contain;
}

nav {
  height: 100vh; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: var(--brandBlue);
  color: var(--brandWhite); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0.67rem; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: -2px 0px 10px #7695AD;
  border-radius: 20px 0 0 20px;
}

h1 {
    font-size: 2.5rem;
    color: var(--brandRed);
    font-weight: 800;
}

span {
    font-weight: 400;
}

#logo-hamburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-right: 0;
    transition: 0.5s;
}

#hamburger {
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    position: relative;
}

.hamburger-line {
    width: 44px;
    height: 5px;
    border-radius: 200px;
    background-color: var(--brandRed);
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    color: var(--brandRed);
}

nav li {
    list-style: none;
    font-weight: bold;
    margin-bottom: 1rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding: 0 1rem;
}

#header-img {
    width: 70vw;
    max-width: 400px;
    margin-bottom: 2rem;
}

#header-info {
    width: 100vw;
    color: var(--brandBlue);
    font-size: 0.85rem;
    font-weight: 700;
    text-align: center;
}

#header-info p {
    margin-bottom: 1rem;
    line-height: 2rem;
}

#header-info a {
    display: inline-block;
    color: var(--brandWhite);
    text-decoration: none;
    background-color: var(--brandRed);
    padding: 1rem 2rem;
    border-radius: 200px;
    margin-top: 2rem;
    font-size: 1.25rem;
}

#about {
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

figure {
    text-align: center;
}

figcaption {
    margin: 2rem 0;
    color: var(--brandBlue);
    line-height: 1.75rem;
}

#pricing {
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

h2 {
    font-size: 2.5rem;
    color: var(--brandBlue);
}

#pricing-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90vw;
    
}

.pricing-item {
    padding: 2rem 2rem 3rem 2rem;
    background-color: var(--brandBlue);
    text-align: center;
    margin-bottom: 4rem;
    color: var(--brandWhite);
    border-radius: 1.25rem;
    max-width: 450px;
    margin: auto;
}

.pricing-item a {
    text-decoration: none;
    color: var(--brandWhite);
    background-color: var(--brandRed);
    padding: 1rem 4rem;
    border-radius: 300px;
    font-size: 1.25rem;
    font-weight: 700;
}

.non-emphasized {
    background-color: transparent;
    color: var(--brandBlue);
}

.non-emphasized a {
    display: inline-block;
    color: var(--brandWhite);
    text-decoration: none;
    background-color: var(--brandBlue);
    padding: 1rem 2rem;
    border-radius: 200px;
}

.non-emphasized a:hover {
    box-shadow: 2px 2px 20px rgba(118, 149, 173, 0.459);
    transform: translateY(1px);
}

h3 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.pricing-item-desc {
    font-size: 0.85rem;
    line-height: 1.5rem;
    margin-top: 2rem;
}

.price {
    font-size: 4rem;
    margin: 3rem 0 0 0;
    font-weight: 700;
}

.price-monthly {
    margin: 0;
}

.pricing-item ul {
    text-align: center;
    margin: 3rem 0 4rem 0;
    line-height: 3rem;
    list-style: none;
    padding: 0;
}

footer {
    background-color: var(--brandRed);
    color: var(--brandWhite);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

footer li {
    margin-bottom: 1rem;
}

footer div {
    display: flex;
}

h5 {
    font-size: 1.2rem;
}

footer div a {
    padding: 1rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1rem;
    border-radius: 400px;
    border: 2px solid var(--brandWhite);
}