:root {
    --mainFont: 'Open Sans', sans-serif;
    --brandRed: #C55A6C;
    --brandWhite: #F6F6F4;
    --brandBlue: #244A70;
    --brandGray: #7695AD;
}

body {
    font-family: var(--mainFont);
    background-color: var(--brandWhite);
    margin: 0 1rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    color: var(--brandRed);
    font-weight: 800;
}

span {
    font-weight: 400;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav a {
    text-decoration: none;
    color: var(--brandBlue);
}

nav li {
    margin-left: 4rem;
    list-style: none;
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 3rem;
}

#header-info {
    max-width: 440px;
}

#about {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pricing-container {
    display: flex;
    flex-direction: row;
}

